html{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
body{
	padding:0px;
	margin:0px;
	width:100%;
	height:auto;
	font-size:100%;
}
*, *::before, *::after{
	-webkit-box-sizing:inherit;
	-moz-box-sizing:inherit;
	box-sizing:inherit;
}
.clear{
	clear:both;
}
#wrapper{
	width: 100%;
    height: auto;
    padding: 20px 5%;
    background:#fff;
   
}
#menu1{
	width: 100%;
    height: 30px;
    margin-bottom: 20px;
}
#dav{
	width: 10%;
    height: auto;
    font-size: 25px;
    font-weight: bold;
    color: #ff5677;
    float: left;
}
#menuList{
    width: 80%;
    height: auto;
    float: right;
    position: relative;
    top: -10px;
}
#menuList a{
	float: right;
    width: 15%;
    padding: 7px 0px;
    font-size: 16px;
    text-decoration: none;
    color: #000;
    position: relative;
    top: 10px;
}
#menuList a:hover{
	background-color:#fc8eac;
	color:#fff;
	text-align:center;
}
#para1{
	width: 100%;
    height: auto;
    margin-bottom: 30px;
}
#para1Left{
	width: 60%;
    height: 200px;
    float: left;
}
.pLa{
	font-size: 18px;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
}
.pLb{
	font-size: 16px;
    color: grey;
}
.pLc{
	width:100%;
	height:20px;
}
#Lc1{
	font-size: 13px;
    width: 40%;
    height: 30px;
    background: #ff5677;
    padding: 5px;
    color: #fff;
    text-align: center;
    float: left;
    border-radius: 2px;
    padding-top: 7px;
}
#Lc2{
	width: 100%;
    height: 30px;
    position: relative;
    top: 10px;
    left: 0px;

}
.fab{
	font-family: 'Font Awesome 5 Brands';
    font-weight: 200;
    font-size: 18px;
    padding-left: 10px;
    position: relative;
    top: -7px;
}
#para1Right{
	width: 40%;
    height: auto;
    float: left;
}
#para1Right img{
	width: 150px;
    height: 120px;
    position: relative;
    left: 25px;
    top: 30px;
}
#prod{
	margin-top:10px;
}
#strong{
	margin-top:-8px;
	margin-bottom:-20px;
}
#para2{
	width: 100%;
    height: auto;
    margin-bottom: 50px;
}
#para2Left{
	width:70%;
	height:auto;
	float:left;
}
#p2La{
	width: 100%;
    height: auto;
margin-bottom: 8px;
}
.p2La1{
	float: left;
    width: 40%;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
}
.p2La2{
	font-weight: bold;
    float: right;
    width: 60%;
    font-size: 18px;
    color: #ff5677;
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
    right: 8px;
}
#p2Lb{
	width: 100%;
    height: auto;
    padding-bottom: 10px;
}
#p2Lc{
	width: 100%;
    height: auto;
    padding-bottom: 15px;
}
.allType{
	color: grey;
    font-size: 12px;
    padding-bottom: 2px;
}
#p2Ld{}
#para2Right{
	width:30%;
	height:auto;
	float:right;
}

#p2Rimg{
	position: relative;
    top: 40px;
    right:10px;
}
#p2Rimg img{
	width:150px;
	height:180px;
}
#para3{
	width: 100%;
    height: auto;
    margin-bottom:50px;
}
#p3La{
	width: 100%;
    height: auto;
    border-bottom: 1px solid #bfb8b8;
    padding-bottom: 1px;
	}
.p3La1{
	font-weight: bold;
    width: 25%;
    height: auto;
    float: left;
    font-size: 16px;
    color: #7b7676;
	}
.p3La2{
	width: 30%;
    height: auto;
    float: left;
    font-size: 16px;
    color: #ff5677;
    font-weight: bold;
    position: relative;
    right: 40px;
}
.p3La3{
	width: 40%;
    height: auto;
    font-size: 12px;
    float: left;
    text-align: right;
}
.p3La3 a{
	text-decoration:none;
	color:#bdb0b0;
}

#p3Lb{
	width: 100%;
    height: auto;
    padding-top: 15px;
    padding-bottom: 50px;

}
#Lb1{
	width: 100%;
    height: auto;
    float: left;
}
.Lb1a{
	padding-bottom:5px;
	color: #c7c5c5;
}
#Lc1 a{
	text-decoration:none;
	color:#fff;
}
.Lb1b{
	width: 100%;
    height: auto;
}
.b1ba{
	font-size: 16px;
    float: left;
    font-family: 'Roboto Condensed', sans-serif;
    width: 50%;
    font-weight: bold;
}

.b1bb{
	font-size: 16px;
    float: right;
    font-family: 'Roboto Condensed', sans-serif;
    color: #c7c5c5;
    width: 50%;
    position: relative;
    right: 135px;
}
.b1baa{
	font-size: 16px;
    float: left;
    font-family: 'Roboto Condensed', sans-serif;
    width: 40%;
    font-weight: 600;
}
.b1bbb{
	font-size: 16px;
    float: right;
    font-family: 'Roboto Condensed', sans-serif;
    color: #c7c5c5;
    width: 30%;
    position: relative;
    right: 180px;
}
.Lb1c{
	font-size: 18px;
    padding-top: 5px;
    padding-bottom: 30px;
}
#Lb2{
	width: 100%;
    height: auto;
    float: left;
}
#Lb3{
	width: 100%;
    height: auto;
    float: left;
}
.b1baa1{
	font-size: 16px;
    float: left;
    font-family: 'Roboto Condensed', sans-serif;
    width: 40%;
    font-weight: bold;
}
.b1bbb2{
	font-size: 16px;
    float: right;
    font-family: 'Roboto Condensed', sans-serif;
    color: #c7c5c5;
    width: 60%;
    position: relative;
    right: 15px;
}
#para4{
	width: 100%;
    height: auto;
    margin-bottom:70px;
}
#p4a{
	width: 100%;
    height: auto;
    border-bottom: 1px solid #bfb8b8;
    padding-bottom: 1px;
	}
.p4La1{
	font-weight: bold;
    width: 10%;
    height: auto;
    float: left;
    font-size: 18px;
    color: #7b7676;
	}

.p4La2{
	width: 50%;
    height: auto;
    float: right;
    font-size: 18px;
    color: #ff5677;
    font-weight: bold;
    position: relative;
    right: 180px;
}
#p4b{
	width:100%;
	height:auto;
}
.p4bCard{
	width: 30%;
    height: 200px;
    float: left;
    margin-right: 3.3%;
    background: #fdfcfc;
    margin-top: 20px;
    padding-left: 10px;
}
.bcardimg{
	padding-top: 30px;
    padding-bottom: 15px;
}
.bcardimg img{
	width:30px;
	height:30px;
}
.bcard1{
	padding-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
}
.bcard2{
	 font-weight: bold;
    color: #c7c5c5;
    font-size: 12px;
}
#para5{
	width:100%;
	height:auto;
	
}
#para5A{
	width: 100%;
    height: 15px;
}
.p5a1{
	width: 15%;
    height: auto;
    float: left;
    font-size: 18px;
    color: #000;
    font-weight: bold;
}
.p5a2{
	width: 15%;
    height: auto;
    float: right;
    font-size: 18px;
    color: #ff5677;
    font-weight: bold;
    position: relative;
    right: 70%;
}
#para6{
	width:100%;
	height:auto;
	margin-top: 5px;

}
.para6img{
	width:100%;
	height:180px;
	background-image: url(image/img6.jpg);
	background-repeat: no-repeat;
	background-size: cover;

}
#para7{
	width:100%;
	height:auto;
}
.para7L{
	width: 49%;
    height: 180px;
    float: left;
    background-image: url(image/img7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
}
.para7R{
	width: 49%;
    height: 180px;
    float: right;
    background-image: url(image/img7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
}
.para71L{
	width: 49%;
    height: 180px;
    float: left;
    background-image: url(image/img8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
}
.para71R{
	width: 49%;
    height: 180px;
    float: right;
    background-image: url(image/img10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
}
#para8{
	width: 100%;
    height: auto;
    margin-top: 20px;
    padding-bottom: 50px;
}
#para8a{
	font-size: 18px;
    font-weight: bold;
    color: #716868;
     font-family: 'Roboto Condensed', sans-serif;
     padding-bottom: 5px;
}
#para8b{
	width:100%;
	height:auto;
	color: grey;
    font-size: 12px;

}
#para8bL{
	width: 70%;
    height: auto;
    float: left;
}
#para8bL1 a{
	text-decoration:none;
	color:pink;
}
#para8bR{
	width: 30%;
    height: auto;
    float: right;
    text-align: right;
}
#para8bRee img{
	width:30px;
	height:30px;
}
#para9{
	width:100%;
	height:auto;
	padding-bottom:50px;
}
#para9a{
	width:60%;
	height:auto;
	float:left;
}
#para9a0{
	font-size:18px;
	font-weight:bold;
}

#para9a1{
	color: grey;
    font-size: 12px;
}
#para9a2{
	   font-size: 14px;
    width: 40%;
    height: 30px;
    background: #ff5677;
    padding: 5px;
    color: #fff;
    text-align: center;
    float: left;
    border-radius: 2px;
    padding-top: 7px;
    margin-top: 20px;
}
#para9a2 a{
	text-decoration:none;
	color:#fff;
}
#para9b{
	width:40%;
	height:auto;
	float:right;
}
#para9b0{
	font-size: 18px;
    width: 100%;
    height: auto;
    font-weight: bold;
}
.para9b1{}
.para9b1 i{
	padding-top: 20px;
}
.para9b1 a{
	text-decoration: none;
    color: grey;
    position: relative;
    top: -10px;
    right: -20px;
    font-size: 14px;
}

#footer{
	width:100%;
	height:auto;
	background:#ff5677;
	color:#fff;
	padding-top:5px;
	padding-bottom:5px;
	text-align:center;
	font-size:16px;
}
















